div#main { position: relative; height: 100%;}

svg { font-family: cursive; }

g.node { position: absolute; }
g.node rect { stroke: blue; stroke-width: 2; fill: #DDD; cursor: move; rx: 5px; }
g.node text { dominant-baseline: middle; text-anchor: middle; cursor: move; }
g.node.drag rect { stroke: red; fill: #FDD; }

g.node circle.port { stroke: blue; stroke-width: 2; fill: #DDD; cursor: crosshair; }
g.node text.port { font-size: 60%; cursor: crosshair; }
g.node.drag circle.port, g.node circle.port.drag { stroke: red; fill: #FDD; }

path.edge { fill: transparent; stroke-width: 2; stroke: #888;}
path.edge.drag { stroke: red; }