div#main { position: relative; height: 100%;}
div.node { position: absolute; border: 1px solid red;}
circle.node { stroke: blue; stroke-width: 2; fill: #DDD; cursor: move; }
text.node { dominant-baseline: middle; text-anchor: middle; cursor: move; }
line.edge { stroke-width: 2; stroke: #888;}
